<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>
    {{>navbar}}

    <!-- main header  -->
    <div class="main_header">

        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="images/myimage.jpg" alt="thapa" title="thapatechnical" class="img-fluid">
                        </figure>

                    </div>

                    <div class="col-md-6 col-12 main_header_left">
                        <p>Hello,myself Deepesh arya</p>
                        <p>I am a <span class="txt_clr">Mern Stack Developer</span>,Photographer and a Undergratuate Electrical Engineer</p>
                        <a href="https://www.linkedin.com/in/deepesh-arya-1a9aaa171/" target="_thapa"><button>About Me</button></a>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <!-- footer -->

    <footer>
        <p>
            created with ❤ by deepesh arya
        </p>
    </footer>
</body>

</html>